.container12 {

	max-width:1000px;
	width:100%;
    margin:0 auto;
    padding-top: 170px;
    height: 500px;
	position:relative;
}
#hote{
    padding-left: 12px;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}